<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{{ partial "open_graph.html" . }}
{{ .Hugo.Generator }}

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<style type="text/css">{{ partial "css/variables.css" . | safeCSS }}</style>
<link href='{{ "css/tachyons.min.css" | relURL }}' rel="stylesheet">
<link href='{{ "css/styles.css" | relURL }}' rel="stylesheet">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Icon -->
<link rel="icon" 
{{ if .Site.Params.favicon }}
  href="{{ .Site.Params.favicon | relURL }}" 
{{ else }} 
  href='{{ "/favicon.ico" | relURL }}'
{{ end }}
type="image/x-icon"/>

<link href='{{ "/feed.xml" | relURL }}' rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" />
{{ template "_internal/google_analytics_async.html" . }}
